body {
    font-family: 'Roboto', sans-serif;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .bg-white {
    background-color: #181818;
}

.dark-mode .bg-gray-100 {
    background-color: #202020;
}

.dark-mode .text-cyan-300, .dark-mode .text-white {
    color: #9ca3af;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-mode .bg-blue-500 {
    background-color: #0a192f;
}

.dark-mode input[type="text"] {
    background-color: #2A2A2A;
    color: #D1D5DB;
    border: 1px solid #4B5563;
}

.dark-mode button {
    background-color: #111827;
    color: #9CA3AF;
}

.dark-mode button svg {
    fill: #9CA3AF;
}

.dark-mode #messages {
    background-color: #1F2937;
}